{extend name="common/layout" /}

{block name="title"}分类表管理{/block}
{block name="content"}
<div id="content">

    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-create" data-toggle="tooltip" title="保存" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{:url('index')}" data-toggle="tooltip" title="取消" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>分类表{if condition="!is_null($id)"}修改{else/}创建{/if}</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/back/site/index.html">首页</a>
                </li>
                <li>
                    <a href="/back/brand/index.html">分类表</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    分类表{if condition="!is_null($id)"}修改{else/}创建{/if}
                </h3>
            </div>
            <div class="panel-body">
                <form action="{:url('set')}" method="post" enctype="multipart/form-data" id="form-create"
                      class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-general" data-toggle="tab">基本信息</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">

                            {if condition="!is_null($id)"}
                            <input type="hidden" name="id" value="{$id}">
                            {/if}

                            
                        <div class="form-group required">
                            <lael class="col-sm-2 control-label" for="input-title">分类</lael>
                            <div class="col-sm-10">
                                <input type="text" name="title" placeholder="分类" value="{$data['title']|default=''}"
                                       id="input-title" class="form-control"/>

                                {if condition="isset($message['title'])"}
                                <label class="text-danger" id="input-title-error" for="input-title">{$message['title']}</label>
                                {else/}

                                {/if}

                            </div>
                        </div>
                        <div class="form-group required">
                            <lael class="col-sm-2 control-label" for="input-parent_id">上级分类</lael>
                            <div class="col-sm-10">
                                <select name="parent_id" id="input-parent_id" class="form-control">

                                    <option value="0">顶级分类</option>
                                    {foreach $category_list as $category}
                                    <option value="{$category['id']}" {if condition="$data['parent_id']==$category['parent_id']"}selected{/if}>
                                        {:str_repeat('&nbsp;',$category['level']*4)}{$category['title']}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <lael class="col-sm-2 control-label" for="input-sort">排序</lael>
                            <div class="col-sm-10">
                                <input type="text" name="sort" placeholder="排序" value="{$data['sort']|default=''}"
                                       id="input-sort" class="form-control"/>

                                {if condition="isset($message['sort'])"}
                                <label class="text-danger" id="input-sort-error" for="input-sort">{$message['sort']}</label>
                                {else/}

                                {/if}

                            </div>
                        </div>
                        <div class="form-group ">
                            <lael class="col-sm-2 control-label" for="input-is_used">启用状态</lael>
                            <div class="col-sm-10">
                                <input type="text" name="is_used" placeholder="启用状态" value="{$data['is_used']|default=''}"
                                       id="input-is_used" class="form-control"/>

                                {if condition="isset($message['is_used'])"}
                                <label class="text-danger" id="input-is_used-error" for="input-is_used">{$message['is_used']}</label>
                                {else/}

                                {/if}

                            </div>
                        </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}