<nav id="column-left" class="active">
    <div id="profile">
        <div>
            <!-- <i class="fa fa-opencart"></i>
          -->
            <img src="__STATIC__/back/image/avatar.png" style="max-width:42px; max-height: 42px;"></div>
        <div>
            <h4>{$Think.session.admin.username}</h4>
            <small>Administrator</small>
        </div>
    </div>
    <ul id="menu">
        <li id="dashboard">
            <a href="http://www.myshop.com/back/make/table.html">
                <i class="fa fa-dashboard fa-fw"></i>
                <span>自动化操作</span>
            </a>
        </li>
        <li id="catalog">
            <a class="parent">
                <i class="fa fa-cog fa-fw"></i>
                <span>商品目录</span>
            </a>
            <ul>
                <li>
                    <a href="http://www.myshop.com/back/action/index.html">动作管理</a>
                </li>
                <li>
                    <a href="http://www.myshop.com/back/admin/index.html">管理员管理</a>
                </li>

                <li class="hidden">
                    <a href="http://www.myshop.com/back/brand/index.html">品牌管理</a>
                </li>
                <li>
                    <a href="http://www.myshop.com/back/category/index.html">分类表管理</a>
                </li>
                <li>
                    <a href="http://www.myshop.com/back/brand/index.html">品牌管理</a>
                </li>
                <li>
                    <a href="http://www.myshop.com/back/member/index.html">会员管理</a>
                </li>
                <li>
                    <a href="http://www.myshop.com/back/product/index.html">商品表管理</a>
                </li>
                <li>
                    <a href="http://www.myshop.com/back/role/index.html">角色管理</a>
                </li>
            </ul>
        </li>

    </ul>

</nav>