<header>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="logo">
                    <a href="">
                        <img src="/static/image/logo3.png" title="BuyPlus(败家Shopping）" alt="BuyPlus(败家Shopping）" class="img-responsive"/>
                    </a>
                </div>
            </div>
            <div class="col-sm-8 mini-cart">
                <div id="cart">
                    <a href="" class="cart-info">
                  <span class="cart-icon">
                    <i class="fa fa-shopping-cart"></i>
                  </span>
                        <span id="minicart-total">0 个商品 - ￥0.00</span>
                    </a>
                    <ul id="minicart-content"class="cart-content dropdown-menu hidden-sm hidden-xs">
                        <li>
                            <table id="minicart-content-table" class="table table-striped">

                            </table>
                        </li>

                        <li>
                            <div>
                                <table class="table table-bordered">
                                    <tr>
                                        <td class="text-right"><strong>商品总额</strong></td>
                                        <td class="text-right" id="minicart-total-price">￥0</td>
                                    </tr>
                                </table>
                                <p class="text-right">
                                    <a href="/html/cart.html">
                                        <strong><i class="fa fa-shopping-cart"></i>
                                            查看购物车</strong>
                                    </a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="/back/page/checkout.html">
                                        <strong><i class="fa fa-share"></i>
                                            去结账</strong>
                                    </a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
