<div class="main-menu-wrapper">
    <div class="container">
        <div class="main-menu-mobile">
            菜单
            <span class="main-menu-toggle">
              <i class="fa fa-bars"></i>
            </span>
        </div>
        <div class="main-menu-container">
            <ul class="main-menu">
                <li class="parent">
                    <a href="">首页</a>
                </li>
                <li class="parent with-sub-menu">
                    <a href="">男士眼镜</a>
                    <div class="open-sub-menu">+</div>
                    <ul class="sub-menu">
                        <li>
                            <a href="">帕森</a>
                            <div class="open-sub-menu">+</div>
                            <ul class="second-menu">
                                <li>
                                    <a href="">shes茜子</a>
                                </li>
                                <li>
                                    <a href="">帕森新</a>
                                </li>
                                <li>
                                    <a href="">暴龙</a>
                                </li>
                                <li>
                                    <a href="">艾唯莎</a>
                                </li>
                                <li>
                                    <a href="">名匠</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">暴龙</a>
                            <div class="open-sub-menu">+</div>
                            <ul class="second-menu">
                                <li>
                                    <a href="">shes茜子</a>
                                </li>
                                <li>
                                    <a href="">帕森新</a>
                                </li>
                                <li>
                                    <a href="">暴龙</a>
                                </li>
                                <li>
                                    <a href="">艾唯莎</a>
                                </li>
                                <li>
                                    <a href="">名匠</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">派丽蒙</a>
                            <div class="open-sub-menu">+</div>
                            <ul class="second-menu">
                                <li>
                                    <a href="">shes茜子</a>
                                </li>
                                <li>
                                    <a href="">帕森新</a>
                                </li>
                                <li>
                                    <a href="">暴龙</a>
                                </li>
                                <li>
                                    <a href="">艾唯莎</a>
                                </li>
                                <li>
                                    <a href="">名匠</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">海伦凯勒</a>
                            <div class="open-sub-menu">+</div>
                            <ul class="second-menu">
                                <li>
                                    <a href="">shes茜子</a>
                                </li>
                                <li>
                                    <a href="">帕森新</a>
                                </li>
                                <li>
                                    <a href="">暴龙</a>
                                </li>
                                <li>
                                    <a href="">艾唯莎</a>
                                </li>
                                <li>
                                    <a href="">名匠</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">邦士度</a>
                            <div class="open-sub-menu">+</div>
                            <ul class="second-menu">
                                <li>
                                    <a href="">shes茜子</a>
                                </li>
                                <li>
                                    <a href="">帕森新</a>
                                </li>
                                <li>
                                    <a href="">暴龙</a>
                                </li>
                                <li>
                                    <a href="">艾唯莎</a>
                                </li>
                                <li>
                                    <a href="">名匠</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="parent with-sub-menu">
                    <a href="">女士眼镜</a>
                    <div class="open-sub-menu">+</div>
                    <ul class="sub-menu">
                        <li>
                            <a href="">shes茜子</a>
                        </li>
                        <li>
                            <a href="">帕森新</a>
                        </li>
                        <li>
                            <a href="">暴龙</a>
                        </li>
                        <li>
                            <a href="">艾唯莎</a>
                        </li>
                        <li>
                            <a href="">名匠</a>
                        </li>
                    </ul>
                </li>
                <li class="parent with-sub-menu">
                    <a href="">驾驶镜</a>
                    <div class="open-sub-menu">+</div>
                    <ul class="sub-menu">
                        <li>
                            <a href="">暴龙</a>
                        </li>
                        <li>
                            <a href="">AHT</a>
                        </li>
                        <li>
                            <a href="">pueerizi</a>
                        </li>
                        <li>
                            <a href="">暴龙</a>
                        </li>
                        <li>
                            <a href="">阿木</a>
                        </li>
                    </ul>
                </li>
                <li class="parent ">
                    <a href="">海外购</a>
                </li>
                <li class="parent ">
                    <a href="">轻松购</a>
                </li>
                <li class="parent ">
                    <a href="">专业版购买</a>
                </li>
            </ul>
        </div>
        <script>
            $('.sub-menu>li').mouseenter(function (e) {
                $(this).parent().find('ul.second-menu').hide().eq($(this).index()).show();
            });
        </script>
        <div id="search" class="input-group">
            <input type="text" name="search" value="" placeholder="搜索" class="form-control"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </span>
        </div>
    </div>
</div>