{extend name="common/layout" /}

{block name="title"}商品表管理{/block}
{block name="content"}
<div id="content">

    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-create" data-toggle="tooltip" title="保存" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{:url('index')}" data-toggle="tooltip" title="取消" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>商品表{if condition="!is_null($id)"}修改{else/}创建{/if}</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/back/site/index.html">首页</a>
                </li>
                <li>
                    <a href="/back/brand/index.html">商品表</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    商品表{if condition="!is_null($id)"}修改{else/}创建{/if}
                </h3>
            </div>
            <div class="panel-body">
                <form action="{:url('set')}" method="post" enctype="multipart/form-data" id="form-create"
                      class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-general" data-toggle="tab">基本信息</a>
                        </li>
                        <li>
                            <a href="#tab-extra" data-toggle="tab">扩展信息</a>
                        </li>
                        <li>
                            <a href="#tab-des" data-toggle="tab">描述</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">

                            {if condition="!is_null($id)"}
                            <input type="hidden" name="id" value="{$id}">
                            {/if}

                            
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-title">商品标题</label>
                            <div class="col-sm-10">
                                <input type="text" name="title" placeholder="商品标题" value="{$data['title']|default=''}"
                                       id="input-title" class="form-control"/>

                                {if condition="isset($message['title'])"}
                                <label class="text-danger" id="input-title-error" for="input-title">{$message['title']}</label>
                                {else/}

                                {/if}

                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-upc">条码</label>
                            <div class="col-sm-10">
                                <input type="text" name="upc" placeholder="条码" value="{$data['upc']|default=''}"
                                       id="input-upc" class="form-control"/>

                                {if condition="isset($message['upc'])"}
                                <label class="text-danger" id="input-upc-error" for="input-upc">{$message['upc']}</label>
                                {else/}

                                {/if}

                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label" for="input-image">缩略图</label>
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>选择主图像</span>
                                <input id="fileupload" type="file" name="file">
                            </span>
                                <input type="hidden" name="image" value="" id="input-image" class="form-control">
                                <input type="hidden" name="image_thumb" value="" id="input-image-thumb" class="form-control">
                                <label for="" class="" style="display: none; color: red;" id="label-file-error"></label>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-inventory">库存</label>
                            <div class="col-sm-4">
                                <input type="text" name="inventory" placeholder="库存" value="{$data['inventory']|default=''}"
                                       id="input-inventory" class="form-control"/>
                                {if condition="isset($message['inventory'])"}
                                <label class="text-danger" id="input-inventory-error" for="input-inventory">{$message['inventory']}</label>
                                {else/}

                                {/if}
                            </div>
                            <div class="col-sm-4">
                                <select name="unit_id" id="input-unit_id" class="form-control">
                                    <option value="0">未选择</option>
                                    {foreach $unit_list as $unit}
                                    <option value="{$unit['id']}">{$unit['title']}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label" for="input-mininum">最小起售</label>
                            <div class="col-sm-10">
                                <input type="text" name="mininum" placeholder="最小起售" value="{$data['mininum']|default=''}"
                                       id="input-mininum" class="form-control"/>

                                {if condition="isset($message['mininum'])"}
                                <label class="text-danger" id="input-mininum-error" for="input-mininum">{$message['mininum']}</label>
                                {else/}

                                {/if}

                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-price">售价</label>
                            <div class="col-sm-10">
                                <input type="text" name="price" placeholder="售价" value="{$data['price']|default=''}"
                                       id="input-price" class="form-control"/>

                                {if condition="isset($message['price'])"}
                                <label class="text-danger" id="input-price-error" for="input-price">{$message['price']}</label>
                                {else/}

                                {/if}

                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label" for="input-price_orign">原价</label>
                            <div class="col-sm-10">
                                <input type="text" name="price_orign" placeholder="原价" value="{$data['price_orign']|default=''}"
                                       id="input-price_orign" class="form-control"/>

                                {if condition="isset($message['price_orign'])"}
                                <label class="text-danger" id="input-price_orign-error" for="input-price_orign">{$message['price_orign']}</label>
                                {else/}

                                {/if}

                            </div>
                        </div>
                        </div>
                        <div class="tab-pane" id="tab-extra">

                            <div class="form-group required">
                                <label class="col-sm-2 control-label">配送支持</label>
                                <div class="col-sm-1">
                                    <input type="radio" name="is_shopping" value="{$data['is_shopping']|default='1'}"
                                           id="input-is_shopping_yes" class="form-control" checked/><lable for="input-is_shopping_yes">是</lable>
                                </div>
                                <div class="col-sm-1">
                                    <input type="radio" name="is_shopping" value="{$data['is_shopping']|default='0'}"
                                           id="input-is_shopping_no" class="form-control"/><lable for="input-is_shopping_no">否</lable>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-date_avaliable">起送时间</label>
                                <div class="col-sm-10">
                                    <input type="text" name="date_avaliable" placeholder="起送时间" value="{$data['date_avaliable']|default=''}"
                                           id="input-date_avaliable" class="form-control bootstrap-datetimepicker-widget"/>

                                    {if condition="isset($message['date_avaliable'])"}
                                    <label class="text-danger" id="input-date_avaliable-error" for="input-date_avaliable">{$message['date_avaliable']}</label>
                                    {else/}

                                    {/if}

                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-status">商品状态</label>
                                <div class="col-sm-10">
                                    <!--<input type="text" name="status" placeholder="商品状态" value="{$data['status']|default=''}"-->
                                    <!--id="input-status" class="form-control"/>-->
                                    <select name="status" id="input-status" class="form-control">
                                        <option value="0">下架</option>
                                        <option value="1">上架</option>
                                    </select>
                                    {if condition="isset($message['status'])"}
                                    <label class="text-danger" id="input-status-error" for="input-status">{$message['status']}</label>
                                    {else/}

                                    {/if}

                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-brand_id">品牌</label>
                                <div class="col-sm-10">
                                    <select name="unit_id" id="input-brand_id" class="form-control">
                                        <option value="0">未选择</option>
                                        {foreach $brand_list as $brand}
                                        <option value="{$brand['id']}">{$brand['title']}</option>
                                        {/foreach}
                                    </select>

                                    {if condition="isset($message['brand_id'])"}
                                    <label class="text-danger" id="input-brand_id-error" for="input-brand_id">{$message['brand_id']}</label>
                                    {else/}

                                    {/if}

                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-category_id">类别</label>
                                <div class="col-sm-10">
                                    <select name="unit_id" id="input-category_id" class="form-control">
                                        {foreach $category_list as $category}
                                        <option value="{$category['id']}">{:str_repeat('&nbsp;',$category['level']*4)}{$category['title']}</option>
                                        {/foreach}
                                    </select>

                                    {if condition="isset($message['category_id'])"}
                                    <label class="text-danger" id="input-category_id-error" for="input-category_id">{$message['category_id']}</label>
                                    {else/}

                                    {/if}

                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-sort">排序</label>
                                <div class="col-sm-10">
                                    <input type="text" name="sort" placeholder="排序" value="{$data['sort']|default=''}"
                                           id="input-sort" class="form-control"/>

                                    {if condition="isset($message['sort'])"}
                                    <label class="text-danger" id="input-sort-error" for="input-sort">{$message['sort']}</label>
                                    {else/}

                                    {/if}

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-des">

                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-description">描述</label>
                                <div class="col-sm-10">
                                    <!--<input type="text" name="description" placeholder="描述" value="{$data['description']|default=''}"-->
                                    <!--id="input-description" class="form-control"/>-->
                                    <textarea name="description"  class="form-control" id="input-description">

                                    </textarea>

                                    {if condition="isset($message['description'])"}
                                    <label class="text-danger" id="input-description-error" for="input-description">{$message['description']}</label>
                                    {else/}

                                    {/if}

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="appendCss"}
<!--日历插件-->
<link rel="stylesheet" href="__STATIC__/datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="__STATIC__/jqueryFileUpload/css/jquery.fileupload.css">
{/block}

{block name="appendJs"}
<!--日历插件-->
<script src="__STATIC__/datetimepicker/moment.js"></script>
<script src="__STATIC__/datetimepicker/bootstrap-datetimepicker.min.js"></script>

<!--ckeditor-->
<script src="__STATIC__/ckeditor/ckeditor.js"></script>
<script src="__STATIC__/ckeditor/config.js"></script>

<!--FileUpload-->
<script src="__STATIC__/jqueryFileUpload/js/vendor/jquery.ui.widget.js"></script>
<script src="__STATIC__/jqueryFileUpload/js/jquery.iframe-transport.js"></script>
<script src="__STATIC__/jqueryFileUpload/js/jquery.fileupload.js"></script>

<script type="text/javascript">
    $(function () {

        //图片传递到后台的路径
        var url = '{:url("product/upload")}';
        $('#fileupload').fileupload({
            url: url,
            dataType: 'json',
            done: function (e, data) {
                if (data.result.error)
                {
                    $("#label-file-error").text(data.result.error).show();
                }else{
                    $("#label-file-error").text('').hide();
                }
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');

        $('.bootstrap-datetimepicker-widget').datetimepicker({
                format:'YY-MM-DD hh:ii'
        });

        CKEDITOR.replace('input-description');
    })
</script>
{/block}